#titulo2{

    width: 100%;
    height: 60px;
    background-color: green ;

}
#titulo2 h1 {

    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    
    }


    